/*------------------------------------------------------------- CATEGORIA Y ESTILOS --------------------------------------------------------------*/

#IH1 {
    @extend %imagen-centrada;
}

#IH2 {
    @include volumen(955px, 204px);
    @extend %imagen-centrada;
}

#IH3 {
    @extend %imagen-centrada;
}

#IH4 {
    @extend %imagen-centrada;
}

.ImgCategoryY {
    position: relative;

    &:hover {
        .OverlayCategoryY {
            S {
                background-color: $colornegro;
            }
        }
    }
}

.OverlayCategoryY {
    @extend %overlay;
    padding: 70px 0;
    background-color: #77777777;
    color: $colorblanco;
}

.CategoryNavSubCategoryY {
    text-align: center;
}

#ImgArtSidebar {
    @extend %imagen-centrada;
}

.CategoryArticlesY {
    padding-left: 15px;
    padding-right: 15px;
}

.CategoryAdvertisementBody {
    text-align: center;

    img {
        @extend %imagen-centrada;
        height: 210px;
    }
}

#FreePremiumY{
    @include volumen(100px, 100px);
    @extend %imagen-centrada;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
