/*--------------------------------------------------------------- HEADER ESTILOS -----------------------------------------------------------------*/

#newsLogo {
    @include volumen(3%, 3%);
}

#breakingNews {
    width: 100%;
}

#headerWhite {
    color: $colorblanco;

    &:hover {
        color: $colorenlace;
    }
}

/*------------------------------------------------------------------------------------------------------------------------------------------------*/
