// Variables de Colores
$colorceleste: #7FDBFF;
$colorazul: #0074D9;
$colorazulmarino: #001F3F;
$colorazulverdoso: #39CCCC;
$colorverde: #2ECC40;
$colorverdeoscuro: #3D9970;
$colorverdeclaro: #01FF70;
$coloramarillo: #FFDC00;
$colornaranja: #FF851B;
$colorrojo: #FF4136;
$colormoradoclaro: #F012BE;
$colormorado: #B10DC9;
$colorcafe: #85144b;
$colorblanco: white;
$colornegro: black;
$colorgrisclaro: lightgrey;
$colorgrisoscuro: grey;
$colorenlace: #2ba6cb;

// Variables de Fuentes
$fuenteheader: "Times New Roman", Times, serif;
$fuentetexto: fantasy;
$fuentefooter: Arial, Helvetica, sans-serif;
